body {
    margin: 0;
    text-align: center;
}

.App {
    background-color: rebeccapurple;
    margin: auto;
    width: 50%;
    border: 3px solid lightgoldenrodyellow;
}
.info--name {
    color: #F0DE36;
}

.info--web {
    color: #FAF0D7;
}

.about {
    padding-bottom: 2rem;
}

.footer {
    background-color: #080202;
    padding: 1rem 1rem;
}
.footer > a {
    padding: 1rem;
}